Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: GloBI Community <info@globalbioticinteractions.org>
Depends: openjdk-8-jdk
